.wrapper
  = render 'header'
  .container
    .container_row_box_content
      %h3.color-title About
      %h2 自己紹介
    .container_row
      .col-lg-6
        %span.icon{style: ""}
          = image_tag "IMG_7016.jpg",class: "icon-img"
      .col-lg-6
        %p.lead.text-left
        %ul.lead.text-left
          %li 名前：Shota Iseya
          %li 出身：滋賀県（別名：琵琶湖県）
          %li 年齢：２２歳
          %li 経歴：高校を卒業して某大手食品製造メーカーに就職。「エンジニア」という職に魅力を感じ未経験から転職を決意。
          %li 座右の銘：不撓不屈
    %a.btn.btn-dark.js-scroll-trigger{href: "#services"} SKILL
/ Services
%section#services.content-section.bg-primary.text-center
  .container
    .container_row_box_content
      %h3.color-title skill
      %h2 技術一覧
    .container_row
      .col-lg-3
        %span.icon-mark
          %i.fas.fa-dice-d20
        %h4
          %strong Ruby on Rails
        %p.col-lg-3_text HTML,CSS,javascriptを使ったフロントエンド、Railsでサーバーサイドの学習をしてきました。
      .col-lg-3
        %span.icon-mark
          %i.fab.fa-github
        %h4
          %strong Github
        %p.col-lg-3_text
          チーム開発を経験し、個人のアプリ開発でも積極的にGithubを使いました。
      .col-lg-3
        %span.icon-mark
          %i.fab.fa-aws
        %h4
          %strong AWS
        %p.col-lg-3_text
          チーム開発ではデプロイ担当を務めAWSに関しては他の初学者やスクール生には負けません。
      .col-lg-3
        %span.icon-mark
          %i.fas.fa-database
        %h4
          %strong MY SQL
        %p.col-lg-3_text
          DBではMY SQLを使いました。ER図を使った思考を取り入れています。
    %a.btn.btn_light.js-scroll-trigger{href: "#portfolio"} My Portfolio

%section#portfolio.content-section
  .container
    .container_row_box_content
      %h3.color-title Portfolio
      %h2 制作実績
    .container_row
      .col-lg-3
        %a.portfolio-item{href: "http://13.58.198.181"}
          %h3 Chat-space (Twitterクローン)
          = image_tag "chat-space.png", size: 12*25
      .col-lg-3
        %a.portfolio-item{href: ""}
          %h3 クイズアプリ(開発環境)
          = image_tag "04e38eb555bbf389af45660d189948e8.png", size: 12*25
      .col-lg-3
        %a.portfolio-item{href: "http://18.180.62.71/"}
          %h3 フリマアプリ
          = image_tag "frima.jpg", size: 12*25
      .col-lg-3
        %a.portfolio-item{href: ""}
          %h3 外部API
          = image_tag "api_photo.png", size: 12*25
:javascript
  $(function(){
    $('a[href^="#"]').click(function() {
      var speed = 400; 
      var href= $(this).attr("href");
      var target = $(href == "#" || href == "" ? 'html' : href);
      var position = target.offset().top;
      $('body,html').animate({scrollTop:position}, speed, 'swing');
      return false;
    });
  });
.wrapper 
  = render 'footer'
/ Bootstrap core JavaScript
%script{:src => "vendor/jquery/jquery.min.js"}
%script{:src => "vendor/bootstrap/js/bootstrap.bundle.min.js"}
/ Plugin JavaScript
%script{:src => "vendor/jquery-easing/jquery.easing.min.js"}
/ Custom scripts for this template
%script{:src => "js/stylish-portfolio.min.js"}